@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:regular&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght300;regular;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*-----------------------------------------------------------------*/
.container {
  max-width: 1026px;
  margin: 0px auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__container {
  height: 75px;
  padding: 20px 0 0 0;
}
@media (max-width: 900px) {
  .header__container {
    height: 100px;
  }
}
@media (max-width: 1060px) {
  .header__container {
    max-width: 860px;
  }
}
@media (max-width: 900px) {
  .header__container {
    max-width: 500px;
    height: 150px;
  }
}
@media (max-width: 770px) {
  .header__container {
    height: 170px;
  }
}
.header__logo {
  position: relative;
  z-index: 10;
  display: inline-block;
}
@media (max-width: 900px) {
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__logo-img {
  height: 36px;
  width: 33px;
}
.header__logo-text {
  display: inline-block;
  color: #6d6e70;
  font-family: Nunito;
  font-size: 31px;
  font-weight: 400;
  line-height: 40%;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 0 0 0;
  margin-left: 10px;
}
.header__logo-text span {
  color: #595959;
}
.header__nav {
  display: inline-block;
  margin: 0 75px 0 120px;
  opacity: 0.67;
  color: #666666;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 16.8%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1060px) {
  .header__nav {
    margin: 0 30px 0 45px;
  }
}
@media (max-width: 900px) {
  .header__nav {
    display: block;
    margin: 40px 0 0 0;
  }
}
@media (max-width: 330px) {
  .header__nav {
    font-size: 10px;
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
  bottom: 40px;
}
@media (max-width: 900px) {
  .header__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 0;
  }
}
.header__button {
  opacity: 0.81;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 16.8%;
  text-align: center;
  text-transform: uppercase;
  background-color: #bdda5c;
  border-radius: 20px;
  padding: 20px 35px;
  margin: 10px 0 0 0;
}
.header__button:hover {
  background-color: #6c8b05;
}
@media (max-width: 1060px) {
  .header__button {
    margin-right: -20px;
  }
}
@media (max-width: 900px) {
  .header__button {
    padding: 16px 34px;
    font-size: 16;
    margin-top: 20px;
  }
}

/*-----------------------------------------------------------------*/
.nav {
  position: relative;
  z-index: 999;
}
.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__column {
  position: relative;
  z-index: 999;
  color: #666666;
}
.nav__column:not(:last-child) {
  margin-right: 28px;
}
@media (max-width: 1060px) {
  .nav__column:not(:last-child) {
    margin-right: 16px;
  }
}
@media (max-width: 770px) {
  .nav .nav__part1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    margin-left: 10px;
  }
}
.nav .nav__part2 {
  margin-left: 30px;
}
@media (max-width: 770px) {
  .nav .nav__part2 {
    margin-top: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
  }
}

/*-----------------------------------------------------------------*/
.start {
  position: relative;
}
.start__container {
  padding: 200px 10px 167px 10px;
}
.start__body {
  position: relative;
  z-index: 2;
}
.start__title {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 49px;
  font-weight: 600;
  line-height: 63%;
  text-align: center;
}
@media (max-width: 922px) {
  .start__title {
    font-size: 35px;
  }
}
.start__title2 {
  display: inline;
}
@media (max-width: 400px) {
  .start__title2 {
    display: block;
    margin: 20px 0 0 0;
  }
}
.start__title3 {
  display: inline;
}
@media (max-width: 670px) {
  .start__title3 {
    display: block;
    margin: 20px 0 0 0;
  }
}
.start__subtitle {
  font-family: "Open Sans";
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  margin: 45px 0 90px 0;
}
@media (max-width: 900px) {
  .start__subtitle {
    font-size: 27px;
    margin: 30px 0 90px 0;
  }
}
.start__button {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 600;
  line-height: 27.7%;
  text-align: center;
  padding: 30px 40px;
  background-color: #99c50a;
  border-radius: 17px;
}
.start__button:hover {
  background-color: #6c8b05;
}
.start__ibg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.start .start__arrows {
  position: relative;
  margin: 100px 15px 0 0;
}
@media (max-width: 900px) {
  .start .start__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 0 0 -80px;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
  }
}
@media (max-width: 400px) {
  .start .start__arrows {
    margin-left: -90px;
  }
}
.start .start__arrow1 {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 900px) {
  .start .start__arrow1 {
    position: fixed;
    bottom: auto;
    right: auto;
    padding: 0 35px 0 35px;
  }
}
.start .start__arrow2 {
  position: absolute;
  bottom: 0;
  right: 45px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 900px) {
  .start .start__arrow2 {
    position: fixed;
    bottom: auto;
    right: auto;
  }
}

/*-----------------------------------------------------------------*/
.capabilities__container {
  max-height: 1810px;
}
.capabilities__text {
  margin: 50px 0 0 0;
  color: #515151;
  font-family: "Open Sans";
  font-size: 31px;
  font-weight: 600;
  line-height: 161%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .capabilities__text {
    margin: 30px 0 0 0;
  }
}
.capabilities__subtexts {
  margin: 70px 0 0 0;
  opacity: 0.71;
  color: #515151;
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 900px) {
  .capabilities__subtexts {
    margin: 40px 0 0 0;
    font-size: 24px;
  }
}
.capabilities__subtext2 {
  display: block;
  margin: 55px 0 0 0;
}
@media (max-width: 900px) {
  .capabilities__subtext2 {
    margin: 30px 0 0 0;
  }
}

/*-----------------------------------------------------------------*/
.glasses {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.glasses__container {
  max-height: 600px;
  padding: 0 0 0 150px;
  margin-bottom: 100px;
}
@media (max-width: 1025px) {
  .glasses__container {
    padding: 0 0 0 110px;
  }
}
@media (max-width: 920px) {
  .glasses__container {
    padding: 0 0 0 50px;
  }
}
.glasses__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 20px;
  margin: 0 0 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 35px 0 0 0;
}
@media (max-width: 550px) {
  .glasses__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.glasses__column {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3%;
          flex: 1 1 33.3%;
  padding: 0 0 35px 0;
  max-width: 800px;
}
@media (max-width: 900px) {
  .glasses__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.glasses__column:first-child:after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 400px;
  background-color: #e7e7e7;
  margin-left: -180px;
}
@media (max-width: 920px) {
  .glasses__column:first-child:after {
    height: 0;
    width: 0;
  }
}
.glasses__column:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 600px;
  background-color: #e7e7e7;
  margin-left: -400px;
}
@media (max-width: 920px) {
  .glasses__column:nth-child(2)::after {
    height: 0;
    width: 0;
  }
}
.glasses__column:last-child::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 350px;
  background-color: #e7e7e7;
  margin-left: -330px;
}
@media (max-width: 920px) {
  .glasses__column:last-child::after {
    height: 0;
    width: 0;
  }
}
.glasses__column:first-child:hover::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 200px;
  background-color: #add136;
  margin-left: -180px;
}
@media (max-width: 920px) {
  .glasses__column:first-child:hover::after {
    height: 0;
    width: 0;
  }
}
.glasses__column:nth-child(2):hover::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 400px;
  background-color: #add136;
  margin-left: -270px;
}
@media (max-width: 920px) {
  .glasses__column:nth-child(2):hover::after {
    height: 0;
    width: 0;
  }
}
.glasses__column:last-child:hover::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 290px;
  background-color: #add136;
  margin-left: -268px;
}
@media (max-width: 920px) {
  .glasses__column:last-child:hover::after {
    height: 0;
    width: 0;
  }
}
.glasses__number {
  display: inline;
  background-color: #99c50a;
}
@media (max-width: 550px) {
  .glasses .glasses__column1 {
    left: -5px;
  }
}
@media (max-width: 920px) {
  .glasses .glasses__column1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    left: 1%;
  }
}
@media (max-width: 768px) {
  .glasses .glasses__column1 {
    left: 0;
  }
}
@media (max-width: 550px) {
  .glasses .glasses__column2 {
    left: 10%;
  }
}
@media (max-width: 920px) {
  .glasses .glasses__column2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    left: 40%;
  }
}
@media (max-width: 920px) {
  .glasses .glasses__column3 {
    left: 40%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 550px) {
  .glasses .glasses__column3 {
    left: 40%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.glasses__title {
  display: inline;
  color: #656565;
  font-family: "Open Sans";
  font-size: 33px;
  font-weight: 300;
  text-align: center;
  padding: 0 0 0 32px;
  position: relative;
  bottom: -6px;
}
@media (max-width: 768px) {
  .glasses__title {
    margin: 0 0 0 -50px;
  }
}
@media (max-width: 550px) {
  .glasses__title {
    font-size: 22px;
  }
}
.glasses__1::before {
  content: url(https://i.ibb.co/xJyNzRT/1.png);
  position: absolute;
  bottom: -6px;
  left: -50px;
  padding: 0 7px 0 0;
}
.glasses__1:hover::before {
  content: url(https://i.ibb.co/XCb1vwh/before1.jpg);
  position: absolute;
  bottom: -6px;
  left: -50px;
}
.glasses__2::before {
  content: url(https://i.ibb.co/Pg2bH0r/2.jpg);
  position: absolute;
  bottom: -6px;
  left: -50px;
  padding: 0 7px 0 0;
}
.glasses__2:hover::before {
  content: url(https://i.ibb.co/QfYWDj6/before2.png);
  position: absolute;
  bottom: -6px;
  left: -50px;
}
.glasses__3::before {
  content: url(https://i.ibb.co/MnWM6ZD/3.jpg);
  position: absolute;
  bottom: -6px;
  left: -50px;
  padding: 0 7px 0 0;
}
.glasses__3:hover::before {
  content: url(https://i.ibb.co/dg61PvY/before3.png);
  position: absolute;
  bottom: -6px;
  left: -50px;
}
.glasses__body {
  position: relative;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1165px) {
  .glasses__body {
    left: 0;
  }
}
@media (max-width: 920px) {
  .glasses__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
  }
}
@media (min-width: 921px) {
  .glasses__body {
    margin: 70px 0 0 0;
  }
}
@media (max-width: 430px) {
  .glasses__body {
    margin: 0 0 0 -50px;
  }
}
@media (max-width: 769px) {
  .glasses__body {
    margin-top: 40px;
  }
}
.glasses__glass {
  display: inline-block;
  position: relative;
  top: 15px;
}
.glasses__glass img {
  width: 113px;
  height: 102px;
}
@media (max-width: 920px) {
  .glasses__glass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.glasses__text {
  color: #add136;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  margin: 0 0 0 104px;
}
@media (max-width: 920px) {
  .glasses__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    white-space: normal;
    margin: 0;
    margin-top: 40px;
  }
}
.glasses__subtext {
  margin: -60px 0 0 225px;
  opacity: 0.67;
  color: #606060;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  max-width: 670px;
  line-height: 190%;
  padding: 0 5px 0 0;
}
@media (max-width: 920px) {
  .glasses__subtext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 20px;
    text-align: center;
    padding: 0 10 0 0px;
    margin-top: 20px;
  }
}

/*-----------------------------------------------------------------*/
.pallets {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pallets__container {
  max-height: 1000px;
  position: relative;
  left: -300px;
}
@media (max-width: 1060px) {
  .pallets__container {
    left: -280px;
  }
}
@media (max-width: 780px) {
  .pallets__container {
    left: 0;
  }
}
.pallets__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 780px) {
  .pallets__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.pallets__columns {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.pallets__img {
  margin: -13px 0 0 0;
}
.pallets__text {
  margin: 45px 0 0 45px;
}
.pallets__title {
  color: #515151;
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 500;
}
.pallets__subtitle {
  color: #515151;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  margin: 24px 73px 0 0;
  line-height: 200%;
}
.pallets__button {
  color: white;
  padding: 19px 25px;
  color: white;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  margin: 20px 0 45px 0;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}

.column1 {
  background-color: #e2f8ff;
}
.column1__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
}
@media (max-width: 500px) {
  .column1__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 35px 0 0 -200px;
  }
}
.column1__img {
  display: inline-block;
  margin: 0 0 0 300px;
}
@media (max-width: 780px) {
  .column1__img {
    margin: 0 0 0 150px;
  }
}
@media (max-width: 500px) {
  .column1__img {
    margin: 0;
  }
}
@media (max-width: 380px) {
  .column1__img {
    margin-left: -40px;
  }
}
@media (max-width: 330px) {
  .column1__img {
    margin-left: -90px;
  }
}
.column1__text {
  white-space: nowrap;
}
@media (max-width: 500px) {
  .column1__text {
    position: relative;
    left: 5%;
  }
}
@media (max-width: 380px) {
  .column1__text {
    left: 3%;
  }
}
@media (max-width: 330px) {
  .column1__text {
    left: 0;
  }
}
@media (max-width: 500px) {
  .column1__subtitle {
    text-align: center;
    position: relative;
    left: -36px;
  }
}
.column1__button {
  background: #26a6d1;
}
@media (max-width: 1060px) {
  .column1__button {
    margin-top: 35px;
  }
}
.column1__button:hover {
  background: #1c7694;
}

.column2 {
  background-color: #f5f9eb;
}
.column2__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
}
@media (max-width: 500px) {
  .column2__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 35px 0 0 -200px;
  }
}
.column2__img {
  margin: 0 0 0 75px;
}
@media (max-width: 780px) {
  .column2__img {
    margin: 0 0 0 185px;
  }
}
@media (max-width: 500px) {
  .column2__img {
    margin: 0;
    margin-left: -35px;
  }
}
@media (max-width: 380px) {
  .column2__img {
    margin-left: -60px;
  }
}
@media (max-width: 330px) {
  .column2__img {
    margin-left: -110px;
  }
}
@media (max-width: 770px) {
  .column2__subtitle {
    width: 250px;
  }
}
@media (max-width: 500px) {
  .column2__subtitle {
    text-align: center;
    position: relative;
    left: -49px;
  }
}
.column2__text {
  max-width: 364.2px;
}
@media (max-width: 1060px) {
  .column2__text {
    max-width: 300px;
  }
}
@media (max-width: 500px) {
  .column2__text {
    position: relative;
    left: 5%;
  }
}
@media (max-width: 380px) {
  .column2__text {
    left: 3%;
  }
}
@media (max-width: 330px) {
  .column2__text {
    left: 0;
  }
}
.column2__button {
  background: #add136;
}
@media (max-width: 1060px) {
  .column2__button {
    margin-top: 35px;
  }
}
@media (max-width: 500px) {
  .column2__button {
    position: relative;
    left: -9%;
  }
}
@media (max-width: 380px) {
  .column2__button {
    left: -5%;
  }
}
@media (max-width: 330px) {
  .column2__button {
    left: -7%;
  }
}
.column2__button:hover {
  background: #809b29;
}

/*-----------------------------------------------------------------*/
@media (max-width: 770px) {
  .feature {
    text-align: center;
  }
}
.feature__container {
  max-height: 240px;
  margin-top: 80px;
}
@media (max-width: 770px) {
  .feature__container {
    margin-top: 40px;
  }
}
.feature__title {
  color: #515151;
  font-family: "Open Sans";
  font-size: 29px;
  font-weight: 600;
}
.feature__subtitle {
  padding-top: 25px;
  color: #8f8f8f;
  font-family: "Myriad Pro";
  font-size: 17px;
  font-weight: 400;
  max-width: 600px;
  line-height: 180%;
  display: inline-block;
}
.feature__button {
  display: inline-block;
  padding: 18px 23px;
  border: 1px solid #b6b6b6;
  border-radius: 12px;
  margin: 0 0 40px 225px;
  position: relative;
  top: -37px;
  color: #515151;
  opacity: 0.71;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
}
@media (max-width: 1030px) {
  .feature__button {
    top: -37px;
    margin-left: 150px;
  }
}
@media (max-width: 770px) {
  .feature__button {
    top: 20px;
    margin-left: 0;
  }
}
.feature__button:hover {
  background-color: rgb(117, 117, 117);
  color: white;
}

/*-----------------------------------------------------------------*/
.buildings__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 770px) {
  .buildings__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.buildings__column {
  padding-bottom: 25px;
}
@media (max-width: 770px) {
  .buildings__column {
    padding: 15px 20px 25px 20px;
  }
}
.blok {
  position: relative;
}
.blok__button a {
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 168px;
  right: 25px;
  padding: 11px 16px;
  border-radius: 5px;
  background-color: #26a6d1;
}
.blok__button a:hover {
  background-color: #1d80a1;
}
.blok__title {
  color: #484848;
  font-family: "Myriad Pro";
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.blok__body {
  margin: -15px 0 0 0;
  padding: 45px 20px 21px 21px;
  border: 1px solid #ededed;
  background-color: #f9f9f9;
  border-radius: 10px;
}
.blok__subtitle {
  opacity: 0.71;
  color: #484848;
  font-family: "Myriad Pro";
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin: 12px 0 0 0;
  width: 255px;
  line-height: 160%;
}
.blok__loading {
  position: relative;
  margin: 44px 0 0 0;
}
.blok__loading::before {
  content: url(https://i.ibb.co/kqx9B6z/lowload.webp);
  position: absolute;
  left: 0;
  z-index: 3;
}
.blok__loading::after {
  content: url(https://i.ibb.co/h1d3z90/load.webp);
  position: absolute;
  left: 0;
  z-index: 2;
}
.blok__loading2 {
  position: relative;
  margin: 44px 0 0 0;
}
.blok__loading2::before {
  content: url(https://i.ibb.co/MBgnPgg/highload.webp);
  position: absolute;
  left: 0;
  z-index: 3;
}
.blok__loading2::after {
  content: url(https://i.ibb.co/h1d3z90/load.webp);
  position: absolute;
  left: 0;
  z-index: 2;
}
.blok__funded {
  margin: 20px 0 0 0;
  color: #8d8d8d;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
}
.blok__days {
  margin: 20px 0 0 0;
  color: #8d8d8d;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 0 105px;
  display: inline-block;
}
.blok__statistic {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 15px;
}
.blok__details {
  margin: 24px 25px 0 0;
  opacity: 0.85;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  text-align: right;
}
.blok__details a {
  color: #484848;
}
.blok__details a::after {
  content: url(https://imgur.com/2ceupsf.png);
  position: relative;
  top: 3.5px;
  left: 7px;
  height: 16px;
  width: 12px;
}

/*-----------------------------------------------------------------*/
.community {
  position: relative;
  padding-bottom: 60px;
}
@media (max-width: 770px) {
  .community {
    padding-bottom: 40px;
  }
}
.community__body {
  position: relative;
  z-index: 2;
}
.community__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.community__title {
  color: #9ec02d;
  font-family: "Open Sans";
  font-size: 39px;
  font-weight: 600;
  text-align: center;
  padding: 80px 0 0 0;
}
@media (max-width: 410px) {
  .community__title {
    padding: 50px 0 0 0;
  }
}
.community__subtitle {
  color: #949494;
  font-family: "Myriad Pro";
  font-size: 19px;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
  margin: 42px 0 0 0;
  max-width: 900px;
}
.community__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedback__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1030px) {
  .feedback__body {
    padding: 0 40px;
  }
}
@media (max-width: 950px) {
  .feedback__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.feedback__message {
  position: relative;
}
.feedback__title {
  color: #9ec02d;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 600;
  position: absolute;
  top: 35px;
  left: 120px;
}
@media (max-width: 410px) {
  .feedback__title {
    top: 20px;
    left: 75px;
  }
}
.feedback__subtitle {
  color: #848484;
  font-family: "Myriad Pro";
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  max-width: 330px;
  position: absolute;
  top: 80px;
  left: 34px;
}
@media (max-width: 410px) {
  .feedback__subtitle {
    top: 50px;
    left: 17px;
    max-width: 270px;
    font-size: 14.7px;
  }
}
.feedback__img {
  margin: 100px 0 0 0;
}
@media (max-width: 950px) {
  .feedback__img {
    margin: 50px 0 0 0;
  }
}
@media (max-width: 410px) {
  .feedback__img {
    margin: 30px 0 0 0;
  }
}
@media (max-width: 410px) {
  .feedback__img img {
    width: 300px;
  }
}
.feedback__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0 10px 50px;
}
@media (max-width: 410px) {
  .feedback__autor {
    padding: 12px 0 0 32px;
  }
}
.feedback__name {
  color: #494949;
  font-family: "Myriad Pro";
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0 0 17px;
}

/*-----------------------------------------------------------------*/
.logo {
  border-bottom: 1px solid #ededed;
}
.logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 10px 37px 10px;
}
@media (max-width: 770px) {
  .logo__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1030px) {
  .logo__img {
    margin-left: -8px;
  }
}
@media (max-width: 770px) {
  .logo__img:last-child {
    margin-top: 12px;
  }
}
@media (max-width: 430px) {
  .logo__img:not(:first-child) {
    margin-top: 12px;
  }
}
@media (max-width: 330px) {
  .logo__img img {
    width: 300px;
  }
}

/*-----------------------------------------------------------------*/
.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  height: 65px;
}